PORT=25522
TTS_LANG=id
TTS_MAX_LENGTH=200
CACHE_TIMEOUT=300000

# Mode Debug Log: 
# 'all'        = Log detail untuk semua event (chat & koneksi)
# 'connection' = Log detail hanya untuk koneksi (connect/disconnect WS)
# Kosongkan    = Log default
DEBUG=